{:paths   ["src" "resources"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.773"}
           reagent                   {:mvn/version "0.10.0"}
           hickory                   {:mvn/version "0.7.1"}}
 :aliases {:app  {:extra-paths ["dev"]
                  :extra-deps  {thheller/shadow-cljs {:mvn/version "2.10.14"}
                                meander/epsilon      {:mvn/version "0.0.469"}
                                kuhumcst/cuphic      {:git/url "https://github.com/kuhumcst/cuphic.git"
                                                      :sha     "662b1733a786e19de8c34310ddd59b086c2f5ff0"}}}
           :test {:extra-paths ["test"]}}}
