{:paths   ["src" "resources"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.597"}
           reagent                   {:mvn/version "0.9.1"}
           hickory                   {:mvn/version "0.7.1"}}
 :aliases {:testing     {:extra-paths ["test"]}
           :shadow-cljs {:extra-paths ["dev/src"]
                         :extra-deps  {thheller/shadow-cljs {:mvn/version "2.8.83"}}}}}
