{:paths   ["src" "resources"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.773"}
           reagent                   {:mvn/version "0.10.0"}
           hickory                   {:mvn/version "0.7.1"}
           kuhumcst/cuphic           {:git/url "https://github.com/kuhumcst/cuphic.git"
                                      :sha     "6b611e2dad7733822f089ea9e9761b325cad0a0a"}}
 :aliases {:app  {:extra-paths ["dev"]
                  :extra-deps  {thheller/shadow-cljs {:mvn/version "2.10.14"}
                                meander/epsilon      {:mvn/version "0.0.469"}}}
           :test {:extra-paths ["test"]}}}
