{:deps     {:aliases [:dev :test]}
 :dev-http {8000 "classpath:public"}
 :nrepl    {:port    8900
            :init-ns dev}
 :builds   {:dev  {:target     :browser
                   :output-dir "resources/public/js/compiled"
                   :asset-path "/js/compiled"
                   :modules    {:main {:init-fn user/start-dev}}}
            :test {:target   :browser-test
                   :test-dir "resources/public/js/test"
                   :devtools {:http-port 8100
                              :http-root "resources/public/js/test"}}}}
