/* Hide all TEI metadata. */
teiHeader, facsimile, [type=notes] {
    display: none;
}

/* HTML div. */
div {
    display: block;
}

/* HTML address. */
addrLine {
  display: block;
  font-style: italic;
}

/* HTML p. */
p, opener {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

/* HTML hr. */
pb:not(:first-of-type) {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/* Assuming letters are written on a typewriter. */
[type=letter] {
    font-family: monospace;
}

[rend~=handwritten] {
    font-family: cursive;
}
