
tei-teiHeader, tei-facsimile {
    display: none;
}

tei-div {
    display: block;
}


tei-p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

[data-rend~=handwritten] {
    font-family: cursive;
}
